:root {
    --primary-color: #111;
    --secondary-color: #800080;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: 12px;
}

body {
    max-width: 100vw;
}

header {
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
}

header nav ul li:hover {
   background-color: var(--secondary-color);
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: #ffffff;
    transition: 1s;
}

main section {  
    height: 100vh;
    padding: 10%;
}

main section:nth-child(even) {
    background-color: var(--primary-color);
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    background-image: url("assets/resume.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.resume article {
    width: 40%;
 }

.resume article span {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 2em;
}

.resume figure {
    text-align: center;
}

.resume figure img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.resume figure figcaption {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 2%;
}

.bio {
    color: #ffffff;
    padding: 5%;
}
.bio h1 {
   font-size: 5em;
   color: var(--secondary-color);
   margin-bottom: 3%;
}

.bio article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;  
    border: 1em dashed var(--secondary-color);
}

.bio article div {
    width: 30%;
    font-size: 1.6em;
    padding: 5%;
    background-color: var(--primary-color);
}

.jobs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    justify-content: space-around;
}

.jobs h1{
    height: 100vh;
    writing-mode: vertical-lr;
    font-size: 3.5em;
    text-align: center;
    padding: 2%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.jobs ul{
    margin-left: 10%;
}

.jobs ul li:first-child{
    margin-bottom: 10%;
}

.jobs ul li div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jobs ul li div>:first-child{
    color: var(--secondary-color);
}

.jobs ul li span{
    font-size: 4em
}

.jobs ul figure img{
    display: none;
    width: 100px;
    height: 100px;
}

.projects{
    height: 100%;
}

.projects h1 {
    color: var(--secondary-color);
    font-size: 3em;
}

.projects .projects-wapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}

.projects .project{
    width: 40%;
    text-align: center;
    padding: 2%;
    background-color: #ffffff;
}

.projects .project:hover{
    box-shadow: 20px 10px 0px 0px rgba(128,0,128,1);    
}

.projects .project .description{
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
}

.projects .project h2{
    color: var(--secondary-color);
    margin-bottom: 8%;
    font-size: 1.5em;
}

.projects .project div{
    font-size: 1em;
}

.projects .project a{
    display: block;
    width: 100%;
    margin-top: 5%;
    bottom: 10%;
    padding: 4%;
    background-color: var(--secondary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 1em; 
}

footer {
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;;
}